alpaca/back-templates.rice-box.go
tests/node
tests/php
tests/python
tests/ruby
examples/*/node
examples/*/php
examples/*/python
examples/*/ruby
*.pyc
node_modules
vendor
composer.*
build
.goxc.local.json
coverage.out
