{
  "name": "{{module_name}}",
  "version": "{{version}}",
  "description": "{{#official}}Official {{/official}}{{name}} API client for node.js",
  "author": "{{author.name}} <{{author.email}}> ({{author.url}})",
  "homepage": "{{author.url}}",
  "repository": {
    "type": "git",
    "url": "https://{{git.site}}/{{git.username}}/{{git.name}}-node"
  },
  "main": "./lib/index.js",
  "dependencies": {
    "request": "2.27.x"
  },
  "bugs": {
    "url": "https://{{git.site}}/{{git.username}}/{{git.name}}-node/issues"
  },
  "license": "{{license}}",
  "engines": {
    "node": ">= 0.8.0"
  }
}
